@import url(./reset.css);

/* CONTAINER */

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

main {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

#box-main {
  width: 600px;
}

/* Style for the modals */
.modal,
.second-modal {
  width: 220px;
  height: 250px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 1;
}

/* Style for the backdrop */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style for the show class */
.show {
  display: block;
}

.btn-1 {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

label {
  padding: 4px 0px;
  font-size: 14px;
}

#accept-all,
.save {
  padding: 6px 18px;
  background-color: #3c57ff;
  color: #fff;
  border-radius: 25px;
}

#settings {
  padding: 6px 18px;
  border: 1px solid #3c57ff;
  color: #3c57ff;
  border-radius: 25px;
}

/* CUSTOM TOGGLE BUTTON */
.btn-2 {
  display: flex;
  flex-direction: column;
}

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div p {
  font-size: 14px;
  line-height: 30px;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
  width: 45px; /*=w*/
  height: 15px; /*=h*/
  margin: 4px;
  transform: translateY(50%);
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #777;
  border-radius: 30px;
  transform: translateX(-30px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked + .slider:before {
  transform: translateX(30px); /*translateX(w-h)*/
  background-color: limeGreen;
}

input:checked + .slider {
  box-shadow: 0 0 0 2px limeGreen, 0 0 8px limeGreen;
}

.center {
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

.purple {
  color: #833cff;
}
