@import url(./reset.css);

/* CONTAINER */

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

main {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

#box-main {
  width: 600px;
}

/* Style for the modals */
.modal,
.second-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 1;
}

/* Style for the backdrop */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style for the show class */
.show {
  display: block;
}

.accept-all,
.save {
  padding: 6px 10px;
  background-color: #3c57ff;
  color: #fff;
  border-radius: 25px;
}

.settings {
  padding: 6px 10px;
  border: 1px solid #3c57ff;
  color: #3c57ff;
  border-radius: 25px;
}
